.theme-dark.contextMenu-HLZMGh {
    background-color: #201f1f;
    box-shadow: 1px 1px 3px hsla(0, 3%, 6%, 0.9);
}
.item-1Yvehc{
    position: relative;
    border-radius: 0px;
    margin: 0;
}
.contextMenu-HLZMGh {
    border-radius: 0;
}
.theme-dark .itemGroup-1tL0uz{
    border-color: transparent;
}
.theme-dark .item-1Yvehc:hover {
    background-color: #2d2c2c;
}
.theme-dark .item-1Yvehc:hover::after {
    content:'';
    position:absolute;
    left: 0;
    top: 10%;
    width: 2px;
    height: 80%;
    background-color: #656565;
}
